.app {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* width: 100dvw; */
  height: 100dvh;
  /* background-color: #1E1E1E; */
}

.component_row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  /* background-color: hsla(0, 0%, 20%, 0.583); */
  /* background-color: red; */
}